@import "tailwindcss";

html, body {
  height: 100%;
}

:root {
  --font-title: "Bodoni Moda", serif;
  --font-body: "Lato", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
font-family: var(--font-body);
font-weight: 400;
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;

  /* Din gradient */
  background:
    radial-gradient(70% 70% at 50% 50%, #fff950 0%, transparent 60%),
    radial-gradient(60% 50% at 40% 20%, #efefef 0%, transparent 60%),
    radial-gradient(45% 45% at 25% 75%, #efefef 0%, transparent 65%),
    
    #efefef;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 0;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='220' height='220'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='2' stitchTiles='stitch'/%3E%3CfeColorMatrix type='matrix' values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1.4 -0.2'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='1'/%3E%3C/svg%3E");
  background-size: 260px 260px;
  background-repeat: repeat;
  mix-blend-mode: soft-light;
  opacity: 0.85;
  filter: contrast(160%) brightness(105%);
}

#__next, body > * {
  position: relative;
  z-index: 1;
}

:focus-visible {
  outline: 3px solid rgba(0,0,0,0.85);
  outline-offset: 3px;
}
